.controller.edit {
    background: url(https://raw.githubusercontent.com/MaryTheCanary/controlleroverylay/ba38078801745692ce56de458dbb83f537809e42/mur_base.svg);
}


/* 
.edit .a {
    background: url(https://raw.githubusercontent.com/MaryTheCanary/controlleroverylay/ba38078801745692ce56de458dbb83f537809e42/inno_a_button.png);
}




.edit .a.pressed {
    background: url(https://raw.githubusercontent.com/MaryTheCanary/controlleroverylay/ba38078801745692ce56de458dbb83f537809e42/inno_a_pressed.png);
}



.edit .b {
    background: url(https://raw.githubusercontent.com/MaryTheCanary/controlleroverylay/ba38078801745692ce56de458dbb83f537809e42/inno_b_button.png);
}



.edit .b.pressed {
    background: url(https://raw.githubusercontent.com/MaryTheCanary/controlleroverylay/ba38078801745692ce56de458dbb83f537809e42/inno_b_pressed.png);
}



.edit .x {
    background: url(https://raw.githubusercontent.com/MaryTheCanary/controlleroverylay/ba38078801745692ce56de458dbb83f537809e42/inno_x_button.png);
}



.edit .x.pressed {
    background: url(https://raw.githubusercontent.com/MaryTheCanary/controlleroverylay/ba38078801745692ce56de458dbb83f537809e42/inno_x_pressed.png);
}



.edit .y {
    background: url(https://raw.githubusercontent.com/MaryTheCanary/controlleroverylay/ba38078801745692ce56de458dbb83f537809e42/inno_y_button.png);
}



.edit .y.pressed {
    background: url(https://raw.githubusercontent.com/MaryTheCanary/controlleroverylay/ba38078801745692ce56de458dbb83f537809e42/inno_y_pressed.png);
}



.edit .stick.left {
    background: url(https://raw.githubusercontent.com/MaryTheCanary/controlleroverylay/ba38078801745692ce56de458dbb83f537809e42/inno_stick.png);
}

.edit .stick.right {
    background: url(https://raw.githubusercontent.com/MaryTheCanary/controlleroverylay/ba38078801745692ce56de458dbb83f537809e42/inno_stick.png);
}

.edit .stick.pressed {
    background: url(https://raw.githubusercontent.com/MaryTheCanary/controlleroverylay/ba38078801745692ce56de458dbb83f537809e42/inno_stick_pressed.png);
} */